/*===== RESPONSIVE =====*/
@media (min-width: 768px) {
	body{
		font-size: 14px;
	}
	.row-service .item .inner:after {
		position: absolute;
		display: block;
		content: '';
		width: 105px;
		height: 150px;
		top: 40px;
		right: -98px;
		background-image: url(../images/icons/icon_service_block_sep.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.row-service .item.item-service-type .inner:after{
		content: none;
		top: 180px;
		background-image: url(../images/icons/icon_service_block_sep-2.png);
		background-repeat: no-repeat;
		z-index: -1;
	}
	
}
/*===== FONT SIZE RESPONSIVE =====*/
@media (min-width: 1200px){}
@media (min-width: 992px) and (max-width: 1200px){
	.languages_list .item{
		width: 33%;
	}
}
@media (min-width: 768px) and (max-width: 992px){
	/* Page Service */
	.row-service .item.item-service {
		padding-right: 32px;
	}
	.row-service .item.item-service-type{
		padding-left: 16px;
		padding-right: 16px;
	}
	.row-service .item.item-service-price{
		padding-left: 32px;
	}
	.row-service .item .inner:after{
		width: 60px;
		height: 100px;
		top: 40px;
		right: -55px;
	}
	/* End Page Service */
}
@media (max-width: 768px) {
	.section{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/* Section process */
	.vertical-line{
		display: none;
	}
	.hozirontal-line {
		display: block;
		position: absolute;
		top: 30px;
		left: 36px;
		bottom: 140px;
		width: 1px;
		background: #ff6600;
	}
	.sec-process{
		padding: 30px 0px;
	}
	.sec-process .process-item {
		margin-bottom: 20px;
	}
	.sec-process .header{
		text-align: left;
		display: block;
		overflow: hidden;
		margin-bottom: 0;
		line-height: 30px;
		margin-left: -20px;
	}
	.sec-process .content{
		padding-left: 30px;
	}
	.sec-process .header .number{
		float: left;
		width: 33px;
		height: 33px;
		padding-top: 0px;
		padding-left: 8px;
		margin-right: 10px;
	}
	.sec-process .process2 .item{
		width: 20%;
	}
	.sec-process .formats ul li:first-child {
		display: block;
	}
	.sec-process .formats ul li {
		margin-bottom: 15px;
	}
	/* End Section process */
	/* Section feedback */
	.sec-feedback {
	    padding-top: 30px;
	    background-color: #f3f6f8;
	}
	#aside-feedback {
		width: 80%;
		margin: auto;
	}
	#aside-feedback .owl-item{
		padding: 30px 0px;
	}
	/* End Section feedback */
	/* Section service type */
	#aside-feedback {
		width: 80%;
		margin: auto;
	}
	#aside-feedback .owl-item{
		padding: 30px 15px;
	}
	/* End Section service type */
	.sec-service-type{
		margin-bottom: 0px;
	}
	.sec-service-type .item{
		height: auto;
	}
	.sec-service-type .item .content{
		border-bottom: 1px solid #CCC;
		padding-bottom: 20px;
	}
	.sec-service-type .item:last-child .content{
		border-bottom: 0;
	}
	/* Notify */
	#notify {
		width: 350px;
		top: 1rem;
		left: 50%;
		margin-left: -175px;
	}
	/* End Notify */
	#nav .nav_wrapper{
		position: absolute;
		display: none;
		top: 0px;
		width: 80%;
	}
	header.active{
		padding: 0px;
	}
	.navbar-brand{
		padding-left: 15px;
	}
	.navbar-toggle .icon-bar{
		background-color: #ff6600;
	}
	#main-menu .navbar-nav{
		float: none;
		margin: 0;
	}
	#main-menu .navbar-nav>li{
		display: block;
	}
	#main-menu .navbar-nav>li>a{
		padding-left: 0;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		background-color: #FFF;
	}
	#main-menu .home{
		display: none;
	}
	#main-menu .navbar-nav .dropdown-menu {
		width:100%;
	}
	.navbar-toggle {
		border-radius: 0;
		font-size: 18px;
		border-color: #fa7901;
		outline: 0;
	}
	#main-menu .navbar-nav .dropdown-menu{
		background: #fff;
		position: relative;
		margin-bottom: 15px;
		border-radius: 0;
	}
	#main-menu .dropdown-menu>li {
		position: relative;
		padding-left: 0;
	}
	#main-menu .dropdown-menu>li>a {
		padding: 6px 10px;
		font-size: 14px !important;
		color: #333;
		border-bottom: 0px; 
	}
	#main-menu .dropdown-menu>li>a, #main-menu .dropdown-menu>li>a{
		padding-left: 20px;
	}
	#main-menu .dropdown-menu>li>a:focus, #main-menu .dropdown-menu>li>a:hover{
		background-color: #981a0d;
	}
	#header .navbar-collapse{
		border-top: 1px solid #fa7901c2; 
	}
	#main .sec_our h2.text-center{
		margin-top: 0px;
	}
	.sec_how h2{
		font-size: 36px;
		color: #9c8b69;
		text-align: center;
		padding: 0;
		margin-top: 0px;
	}
	.sec_how .line{
		background-color: #FFF;
		margin-bottom: 0px;
	}
	#main .sec_how .row .col:nth-child(odd) .box{
		padding-left: 15px;
	}
	#main .sec_how .row .col:nth-child(even) .box{
		padding-right: 15px;
	}
	#main .sec_how .row .col .box{
		width: 15em;
	}
	#main .sec_how .row span{
		width: calc(80% - 15em);
		width: -webkit-calc(80% - 15em);
		width: -moz-calc(80% - 15em);
	}
	#main-banner{
		margin-top: 51px;
	}
	#main-banner .item .content .title{
		font-size: 26px;
	}
	#main-banner .item .content{
		top: 40%;
	}
	#welcome{
		padding: 30px 0;
	}
	#welcome .content .slogan{
		margin-bottom: 20px;
	}
	#welcome .content{
		width: 100%;
	}
	.component h1{
		font-size: 26px;
		margin-top: 0px;
	}
	.footer{
		font-size: 14px;
	}

	/*Feed back*/
	.section-6 .item1{
		width: 100%;
	}

	aside.module {
		margin-bottom: 30px;
		display: inline-block;
		width: 100%;
	}
	aside.module.hot-news {
		padding-left: 15px;
	}
	/* Page contents */
	.page-contents .article .row-flex{
		display: block;
	}
	.page-contents .article .row-flex .col-right{
		padding-left: 0px;
	}
	.page-contents .article h1{
		padding-top: 10px;
	}
	.list-articles .item .box-thumb img{
		width: auto;
		margin: auto;
		float: unset;
		margin-bottom: 10px;
	}
	.shake-hands .content{
		top: 25%;
	}
	/* End Page contents */
	/* Page introduce */
	.page .introduce .row-0{
		display: block;
	}
	/* End Page introduce */
	/* Page feedback */
	.list-feedback .item:nth-child(odd) .box-thumb, .list-feedback .item:nth-child(even) .box-thumb{
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
		margin-left: 0;
	}
	.list-feedback .item:nth-child(odd) .content{
		clear: both;
		padding: 0 10px 20px;
	}
	.list-feedback .item:nth-child(odd) .name, .list-feedback .item:nth-child(even) .name{
		padding-top: 0px;
		background-size: 50px;
	}
	.list-feedback .item:nth-child(odd) .name:after {
		content: '';
		position: absolute;
		height: 1px;
		width: 88%;
		bottom: 0px;
		left: 0;
		background-color: #ccc;
	}
	.list-feedback .item:nth-child(even) .content{
		width: 100%;
		float: right;
		padding: 0 10px 20px;
	}
	/* End Page feedback */
	/* End Page languages */
	.languages_list .item{
		width: 50%;
	}
	/* End Page languages */
	/* Page Service */
	.row-service.row-flex {
		display: block;
	}
	.row-service .item {
		width: 100%;
		float: unset;
		padding: 0 !important;
		margin-bottom: 50px;
		cursor: pointer;
	}
	.row-service .item.item-service-price{
		margin-bottom: 0;
	}
	.row-service .item .content {
		z-index: 1;
		position: relative;
	}
	.row-service .item .inner:after {
		position: absolute;
		display: block;
		content: '';
		width: 160px;
		height: 70px;
		bottom: -62px;
		left: 50px;
		background-image: url(../images/icons/icon_service_block_sep-3.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.row-service .item.item-service-type .inner:after{
		content: none;
		bottom: -63px;
		background-image: url(../images/icons/icon_service_block_sep-4.png);
		background-repeat: no-repeat;
		z-index: -1;
	}
	/* End Page Service */
}
@media (max-width: 450px) {
	#main-banner .item .content .title{ font-size: 20px; }
	#main-banner .item .content{
		top: 20%;
	}
	#main-banner .item .content .intro{ font-size: 18px; }
	.line{
		background-color: #FFF;
		margin-bottom: 0px;
	}
}
@media (max-width: 450px) {
	#main-banner .item .content .title{ font-size: 20px; }
	#main-banner .item .content{
		top: 20%;
	}
	#main-banner .item .content .intro{ font-size: 18px; }
	.line{
		background-color: #FFF;
		margin-bottom: 0px;
	}
	#main .sec_how .row .col .box{
		width: 10em;
	}
	#main .sec_how .row span{
		width: calc(100% - 15em);
		width: -webkit-calc(100% - 15em);
		width: -moz-calc(100% - 15em);
	}
	/*Feed back*/
	.section-6 .item .thumb{
		float: none; 
		width: 150px;
		height: 150px;
		margin: auto;
		margin-bottom: 10px;
	}
	.section-6 .item .content{
		padding-left: 0px;
	}
}