RewriteEngine On
RewriteRule ^/?$ 								        index.php
RewriteRule ^trang-chu/?$ 								index.php
RewriteRule ^lien-he/?$ 								index.php?com=contact
RewriteRule ^register/?$ 								index.php?com=contents&viewtype=register
RewriteRule ^dang-ky-hop-tac/?$ 						index.php?com=contents&viewtype=register_co_operate
RewriteRule ^y-kien-khach-hang/?$ 						index.php?com=feedback
RewriteRule ^cau-hoi-thuong-gap/?$ 						index.php?com=contents&viewtype=question&code=$1
RewriteRule ^yeu-cau-dich-vu/?$ 						index.php?com=services&viewtype=regis_order


RewriteRule ^test/?$ 									index.php?com=services&viewtype=test


# Service
RewriteRule ^ngon-ngu/?$ 	                            	index.php?com=services&viewtype=languages
RewriteRule ^bang-gia/?$ 	                            	index.php?com=services&viewtype=table_price
RewriteRule ^order/?$ 	                            		index.php?com=services&viewtype=order 	[QSA]
RewriteRule ^dich-vu/?$ 	                            	index.php?com=services&viewtype=list
RewriteRule ^dich-vu/([0-9a-zA-Z\-]+).html/?$  				index.php?com=services&viewtype=detail&code=$1
RewriteRule ^dich-vu/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/?$ 	index.php?com=services&viewtype=detail2&par_code=$1&code=$2


# Contents
RewriteRule ^gioi-thieu/?$ 	                            index.php?com=contents&viewtype=introduce
RewriteRule ^tim-kiem/?$ 	                            index.php?com=contents&viewtype=search [QSA]
RewriteRule ^tin-tuc/?$ 	                            index.php?com=contents&viewtype=list [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/?$                        index.php?com=contents&viewtype=block&code=$1 [QSA]
RewriteRule ^hop-tac/([0-9a-zA-Z\-]+).html?$ 	        index.php?com=contents&viewtype=hoptac&par_code=hop-tac&code=$1
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+).html/?$  index.php?com=contents&viewtype=article&par_code=$1&code=$2

php_value memory_limit -1
php_value post_max_size 1024M
php_value upload_max_filesize 1024M

php_value max_input_time 3000
php_value max_execution_time 3000

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on
php_value error_log  /edu/tmp/errors.log