RewriteEngine On
RewriteRule ^home/?$ 								index.php
RewriteRule ^login/?$								index.php?com=user&task=login
RewriteRule ^dashboard/?$ 							index.php?com=user&task=dashboard
RewriteRule ^logout/?$ 	 							logout.php
RewriteRule ^user_profile/?$ 						index.php?com=user&task=profile
RewriteRule ^forgotpass/?$  						index.php?com=user&task=forgot
RewriteRule ^changepass/?$  						index.php?com=user&task=changepass
RewriteRule ^changetpass/?$  						index.php?com=user&task=changetpass

# Config
RewriteRule ^config/?$ 	index.php?com=config

# Slider
RewriteRule ^slider/?$ 								index.php?com=slider 	[QSA]
RewriteRule ^slider/add?$ 							index.php?com=slider&task=add
RewriteRule ^slider/edit/([0-9]+)?$ 				index.php?com=slider&task=edit&id=$1
RewriteRule ^slider/delete/([0-9]+)?$ 				index.php?com=slider&task=delete&id=$1

# Languages
RewriteRule ^languages/?$ 							index.php?com=languages 	[QSA]
RewriteRule ^languages/add?$ 						index.php?com=languages&task=add
RewriteRule ^languages/edit/([0-9]+)?$ 				index.php?com=languages&task=edit&id=$1
RewriteRule ^languages/delete/([0-9]+)?$ 			index.php?com=languages&task=delete&id=$1

# Feedback
RewriteRule ^feedback/?$ 							index.php?com=feedback
RewriteRule ^feedback/add?$ 						index.php?com=feedback&task=add
RewriteRule ^feedback/edit/([0-9]+)?$ 				index.php?com=feedback&task=edit&id=$1
RewriteRule ^feedback/delete/([0-9]+)?$ 			index.php?com=feedback&task=delete&id=$1

# Type of land
RewriteRule ^type_of_land/?$ 						index.php?com=type_of_land 	[QSA]
RewriteRule ^type_of_land/add?$ 					index.php?com=type_of_land&task=add
RewriteRule ^type_of_land/edit/([0-9]+)?$ 			index.php?com=type_of_land&task=edit&id=$1
RewriteRule ^type_of_land/delete/([0-9]+)?$ 		index.php?com=type_of_land&task=delete&id=$1

#Category
RewriteRule ^category/?$ 							index.php?com=category 	[QSA]
RewriteRule ^category/add?$ 						index.php?com=category&task=add
RewriteRule ^category/edit/([0-9]+)?$ 				index.php?com=category&task=edit&id=$1
RewriteRule ^category/delete/([0-9]+)?$ 			index.php?com=category&task=delete&id=$1
RewriteRule ^category/active/([0-9]+)?$ 			index.php?com=category&task=active&id=$1

#Seo
RewriteRule ^seo/?$ 								index.php?com=seo 	[QSA]
RewriteRule ^seo/add?$ 								index.php?com=seo&task=add
RewriteRule ^seo/edit/([0-9]+)?$ 					index.php?com=seo&task=edit&id=$1
RewriteRule ^seo/delete/([0-9]+)?$ 					index.php?com=seo&task=delete&id=$1
RewriteRule ^seo/active/([0-9]+)?$ 					index.php?com=seo&task=active&id=$1


# Order
RewriteRule ^order/?$ 								index.php?com=order 	[QSA]
RewriteRule ^order/add?$ 							index.php?com=order&task=add
RewriteRule ^order/edit/([0-9]+)?$ 					index.php?com=order&task=edit&id=$1
RewriteRule ^order/active/([0-9]+)?$ 				index.php?com=order&task=active&id=$1
RewriteRule ^order/delete/([0-9]+)?$ 				index.php?com=order&task=delete&id=$1


# Service
RewriteRule ^service/?$ 							index.php?com=service 	[QSA]
RewriteRule ^service/add?$ 							index.php?com=service&task=add
RewriteRule ^service/edit/([0-9]+)?$ 				index.php?com=service&task=edit&id=$1
RewriteRule ^service/active/([0-9]+)?$ 				index.php?com=service&task=active&id=$1
RewriteRule ^service/delete/([0-9]+)?$ 				index.php?com=service&task=delete&id=$1


# Service type
RewriteRule ^service_type/?$ 						index.php?com=service_type 	[QSA]
RewriteRule ^service_type/add?$ 					index.php?com=service_type&task=add
RewriteRule ^service_type/edit/([0-9]+)?$ 			index.php?com=service_type&task=edit&id=$1
RewriteRule ^service_type/active/([0-9]+)?$ 		index.php?com=service_type&task=active&id=$1
RewriteRule ^service_type/delete/([0-9]+)?$ 		index.php?com=service_type&task=delete&id=$1


# Product type
RewriteRule ^product_type/?$ 						index.php?com=product_type 	[QSA]
RewriteRule ^product_type/add?$ 					index.php?com=product_type&task=add
RewriteRule ^product_type/edit/([0-9]+)?$ 			index.php?com=product_type&task=edit&id=$1
RewriteRule ^product_type/active/([0-9]+)?$ 		index.php?com=product_type&task=active&id=$1
RewriteRule ^product_type/delete/([0-9]+)?$ 		index.php?com=product_type&task=delete&id=$1


# Service package
RewriteRule ^package/?$ 							index.php?com=package 	[QSA]
RewriteRule ^package/add?$ 							index.php?com=package&task=add
RewriteRule ^package/edit/([0-9]+)?$ 				index.php?com=package&task=edit&id=$1
RewriteRule ^package/active/([0-9]+)?$ 				index.php?com=package&task=active&id=$1
RewriteRule ^package/delete/([0-9]+)?$ 				index.php?com=package&task=delete&id=$1


# Contents
RewriteRule ^contents/?$ 							index.php?com=contents 	[QSA]
RewriteRule ^contents/add?$ 						index.php?com=contents&task=add
RewriteRule ^contents/edit/([0-9]+)?$ 				index.php?com=contents&task=edit&id=$1
RewriteRule ^contents/active/([0-9]+)?$ 			index.php?com=contents&task=active&id=$1
RewriteRule ^contents/delete/([0-9]+)?$ 			index.php?com=contents&task=delete&id=$1

# Tag
RewriteRule ^tag/?$ 								index.php?com=tag&task=list
RewriteRule ^tag/add?$ 								index.php?com=tag&task=add
RewriteRule ^tag/edit/([0-9]+)?$ 					index.php?com=tag&task=edit&id=$1
RewriteRule ^tag/active/([0-9]+)?$ 					index.php?com=tag&task=active&id=$1
RewriteRule ^tag/delete/([0-9]+)?$ 					index.php?com=tag&task=delete&id=$1

# Menu
RewriteRule ^menus/?$ 								index.php?com=menus 	[QSA]
RewriteRule ^menus/add?$ 							index.php?com=menus&task=add
RewriteRule ^menus/edit/([0-9]+)?$ 					index.php?com=menus&task=edit&id=$1
RewriteRule ^menus/active/([0-9]+)?$ 				index.php?com=menus&task=active&id=$1
RewriteRule ^menus/delete/([0-9]+)?$ 				index.php?com=menus&task=delete&id=$1

# Menu
RewriteRule ^mnuitem/([0-9]+)?$ 					index.php?com=mnuitem&mnuid=$1 	[QSA]
RewriteRule ^mnuitem/([0-9]+)/add?$ 				index.php?com=mnuitem&task=add&mnuid=$1
RewriteRule ^mnuitem/([0-9]+)/edit/([0-9]+)?$ 		index.php?com=mnuitem&task=edit&mnuid=$1&id=$2
RewriteRule ^mnuitem/([0-9]+)/active/([0-9]+)?$ 	index.php?com=mnuitem&task=active&mnuid=$1&id=$2
RewriteRule ^mnuitem/([0-9]+)/delete/([0-9]+)?$ 	index.php?com=mnuitem&task=delete&mnuid=$1&id=$2

# Video
RewriteRule ^video/?$ 								index.php?com=video 	[QSA]
RewriteRule ^video/add?$ 							index.php?com=video&task=add
RewriteRule ^video/edit/([0-9]+)?$ 					index.php?com=video&task=edit&id=$1
RewriteRule ^video/active/([0-9]+)?$ 				index.php?com=video&task=active&id=$1
RewriteRule ^video/hot/([0-9]+)?$ 					index.php?com=video&task=hot&id=$1
RewriteRule ^video/delete/([0-9]+)?$ 				index.php?com=video&task=delete&id=$1

# Partner
RewriteRule ^partner/?$ 							index.php?com=partner 	[QSA]
RewriteRule ^partner/add?$ 							index.php?com=partner&task=add
RewriteRule ^partner/edit/([0-9]+)?$ 				index.php?com=partner&task=edit&id=$1
RewriteRule ^partner/delete/([0-9]+)?$ 				index.php?com=partner&task=delete&id=$1
RewriteRule ^partner/active/([0-9]+)?$ 				index.php?com=partner&task=active&id=$1

# Album
RewriteRule ^album/?$ 								index.php?com=album
RewriteRule ^album/add?$ 							index.php?com=album&task=add
RewriteRule ^album/edit/([0-9]+)?$ 					index.php?com=album&task=edit&id=$1
RewriteRule ^album/delete/([0-9]+)?$ 				index.php?com=album&task=delete&id=$1
RewriteRule ^album/active/([0-9]+)?$ 				index.php?com=album&task=active&id=$1

# Gallery
RewriteRule ^gallery/?$ 							index.php?com=gallery 	[QSA]
RewriteRule ^gallery/add?$ 							index.php?com=gallery&task=add
RewriteRule ^gallery/edit/([0-9]+)?$ 				index.php?com=gallery&task=edit&id=$1
RewriteRule ^gallery/delete/([0-9]+)?$ 				index.php?com=gallery&task=delete&id=$1
RewriteRule ^gallery/active/([0-9]+)?$ 				index.php?com=gallery&task=active&id=$1
RewriteRule ^gallery/add_gallery/([0-9]+)?$ 		index.php?com=gallery&task=add_gallery&id=$1

# Document
RewriteRule ^document_group/?$ 						index.php?com=document_group
RewriteRule ^document/?$ 							index.php?com=document
RewriteRule ^document/add?$ 						index.php?com=document&task=add
RewriteRule ^document/edit/([0-9]+)?$ 				index.php?com=document&task=edit&id=$1
RewriteRule ^document/delete/([0-9]+)?$ 			index.php?com=document&task=delete&id=$1
RewriteRule ^document/active/([0-9]+)?$ 			index.php?com=document&task=active&id=$1

# Profile
RewriteRule ^profile/?$ 							index.php?com=profile
RewriteRule ^profile/add?$ 							index.php?com=profile&task=add
RewriteRule ^profile/edit/([0-9]+)?$ 				index.php?com=profile&task=edit&id=$1
RewriteRule ^profile/active/([0-9]+)?$ 				index.php?com=profile&task=active&id=$1
RewriteRule ^profile/delete/([0-9]+)?$ 				index.php?com=profile&task=delete&id=$1
RewriteRule ^profile/take/([0-9]+)?$ 				index.php?com=profile&task=take&id=$1
RewriteRule ^profile/pass/([0-9]+)?$ 				index.php?com=profile&task=pass&id=$1


# Module
RewriteRule ^module/?$ 								index.php?com=module 	[QSA]
RewriteRule ^module/add?$ 							index.php?com=module&task=add
RewriteRule ^module/edit/([0-9]+)?$ 				index.php?com=module&task=edit&id=$1
RewriteRule ^module/active/([0-9]+)?$ 				index.php?com=module&task=active&id=$1
RewriteRule ^module/delete/([0-9]+)?$ 				index.php?com=module&task=delete&id=$1

# User
RewriteRule ^user/?$ 								index.php?com=user 	[QSA]
RewriteRule ^user/add?$ 							index.php?com=user&task=add
RewriteRule ^user/edit/([0-9]+)?$ 					index.php?com=user&task=edit&id=$1
RewriteRule ^user/active/([0-9]+)?$ 				index.php?com=user&task=active&id=$1
RewriteRule ^user/delete/([0-9]+)?$ 				index.php?com=user&task=delete&id=$1
RewriteRule ^user/changepass/([0-9]+)?$ 			index.php?com=user&task=changepass&id=$1

# User group
RewriteRule ^user_group/?$ 							index.php?com=user_group 	[QSA]
RewriteRule ^user_group/add?$ 						index.php?com=user_group&task=add
RewriteRule ^user_group/edit/([0-9]+)?$ 			index.php?com=user_group&task=edit&id=$1
RewriteRule ^user_group/active/([0-9]+)?$ 			index.php?com=user_group&task=active&id=$1
RewriteRule ^user_group/delete/([0-9]+)?$ 			index.php?com=user_group&task=delete&id=$1
RewriteRule ^user_group/changepass/([0-9]+)?$ 		index.php?com=user_group&task=changepass&id=$1

# Mail
RewriteRule ^mail/?$ 								index.php?com=mail
RewriteRule ^mail/([0-9]+)?$ 						index.php?com=mail&task=view&id=$1
RewriteRule ^mail/outbox?$ 							index.php?com=mail&task=outbox
RewriteRule ^mail/new?$ 							index.php?com=mail&task=new
RewriteRule ^mail/config?$ 							index.php?com=mail&task=config

php_value memory_limit 300M
php_value post_max_size 1000M
php_value upload_max_filesize 300M

php_value max_input_time 3000
php_value max_execution_time 3000 

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on
php_value error_log  /web/toancau4g.com/public_html/admin/errors.log